*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-family: 'Roboto', sans-serif;
}
/* utilities */
.contenitore{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

/* header */
p{
    font-family: Roboto;
    font-size: 20px;
}
h1{
    font-family: Fredoka one;
    margin: 40px 0 60px;
    font-size: 40px;
    color: rgba(229,49,112,255);
}
p,h1{
    text-align: center;
}

/* main */
/* .row, .col, .card{
    border: solid red 1px;
} */
.col{
    width: calc(100% / 3 );
    float: left;
    padding: 0 10px;
}
.card{
    height: 100%;
    background-color: rgba(15,14,23,255);
    margin: 50px 0 20px;
}
div.immagine img{
    height: 100px;
}
.immagine{
    width: auto;
}
.descrizione{
    margin: 20px 10px 0px;
    line-height: 1.5;
}
.immagine, .descrizione{
    float: left;
}
h3{
    font-family: Fredoka One;
}
h3, .professione{
    color: white;
}
a{
    text-decoration: none;
    color: rgba(27,126,202,255);
}
.clearfix::after{
    clear: both;
    content: '';
    display: table;
}